<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Email Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/emailcss.css') }}">
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="container">
        <div class="logo">
          <img src="{{ url_for('static', filename='images/logo 1.png') }}" alt="Logo 1">
          <img src="{{ url_for('static', filename='images/MinuteMail.png') }}" alt="Logo 2">
        </div>
        <div class="navlinks">
          <a href="/homepage">Home</a>
          <a href="/loginpage">Sign Up</a>
          <a href="/loginpage">Login</a>
          <a href="/history">History</a>
        </div>
      </div>
    </nav>
  </header>

  <div class="container" id="form">
    <form action="/GenerateEmail" method="POST">
      <div class="form-group">
        <input type="text" id="sender-name" name="sender-name" placeholder="Sender's Name: " required>
      </div>
      <div class="form-group">
        <input type="text" id="recipient-name" name="recipient-name" placeholder="Recipient's Name:" required>
      </div>
      <div class="form-group">

        <input type="text" id="recipient-title" name="recipient-title" placeholder="Recipient's Title:" required>
      </div>
      <div class="form-group">
        <input type="text" id="purpose" name="purpose" placeholder="Purpose of the Email:" required>
      </div>
      <div class="form-group">
        <input type="text" id="content" name="content" placeholder="Content of Email:" required>
      </div>
      <div class="form-group">
        <label class="text" for="type">Type of Email:</label>
        <select id="type" name="type">
          <option value="personal">Personal Email</option>
          <option value="social">Social Email</option>
          <option value="professional">Professional Email</option>
        </select>
      </div>
      <input type="submit" class="button" value="Generate Email">
    </form>
  </div>
</body>

</html>